{% extends 'base.html.twig' %}
{% block content %}
    <section class="banner banner-three">
        <div class="banner-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="banner-item slide-one swiper-slide">
                    <div class="banner-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-5 col-lg-6 col-xs-12">
                                <div class="banner-content">
                                    <h3>Bienvenue sur Kiddo</h3>
                                    <h2>Le meilleur pour les jardins d'enfants</h2>
                                    <p>Inscrivez et suivez vos enfants graçe à Kiddo qui propose un large choix
                                        de jardins d'enfants.</p>
                                    <ul>
                                        <li><a href="#" class="button-default">S'inscrire</a></li>
                                        <li><a href="#" class="button-default">Choisir un jardin d'enfants</a></li>
                                    </ul>
                                </div><!-- banner-content -->
                            </div>
                        </div>
                    </div><!-- container -->
                </div><!-- slide item -->
                <div class="banner-item slide-two swiper-slide">
                    <div class="banner-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-5 col-lg-6 col-xs-12">
                                <div class="banner-content">
                                    <h3>Welcome to KidsAcademy</h3>
                                    <h2>Best For Education</h2>
                                    <p>Monotonely principle centered ahitectures through and standards magnetic metrics whereas cross functional products.</p>
                                    <ul>
                                        <li><a href="#" class="button-default">Read More</a></li>
                                        <li><a href="#" class="button-default">Buy Now</a></li>
                                    </ul>
                                </div><!-- banner-content -->
                            </div>
                        </div>
                    </div><!-- container -->
                </div><!-- slide item -->
                <div class="banner-item slide-three swiper-slide">
                    <div class="banner-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-5 col-lg-6 col-xs-12">
                                <div class="banner-content">
                                    <h3>Welcome to KidsAcademy</h3>
                                    <h2>Best For Education</h2>
                                    <p>Monotonely principle centered ahitectures through and standards magnetic metrics whereas cross functional products.</p>
                                    <ul>
                                        <li><a href="#" class="button-default">Read More</a></li>
                                        <li><a href="#" class="button-default">Buy Now</a></li>
                                    </ul>
                                </div><!-- banner-content -->
                            </div>
                        </div>
                    </div><!-- container -->
                </div><!-- slide item -->

            </div><!-- swiper-wrapper -->
            <div class="swiper-pagination"></div>
        </div><!-- swiper-container -->
    </section><!-- banner -->
{% endblock %}
